<div 
  class="modal-backdrop" 
  *ngIf="isVisible" 
  (click)="closeOnBackdrop && closeModal()"
  [@fadeInOut]>
  <div 
    class="modal-content" 
    (click)="$event.stopPropagation()"
    [@fadeInOut]>
    <div class="modal-header">
      <h3 class="modal-title">{{ title }}</h3>
      <button class="close-btn" (click)="closeModal()" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
